

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Lista de peliculas</h1>
							<span class="image fit"> <%= image_tag 'fondo1.png', alt: '' %> </span>
              <h3>Top 10 peliculas de Faker GEM</h3> <br />
            <% n=1 %>
            <%= @movie.each_with_index do|x| %>
              
              <div class="table-container">
                <table class="table movie-table">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Sinopsis</th>
                      <th scope="col">Director</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"><%= "#{n}" %></th>
                      <td><%= x.name %></td>
                      <td><%= x.synopsis %></td>
                      <td><%= x.director %></td>
                    </tr>
                  </tbody>
                </table>           
                </div>   
              <% n+=1 %>
                    
            <%end%>
              
					</section>

			</div>




