


<section class="formulario">
<%= form_with model: @movie, url: movies_create_path, method: :post do |form| %>
  
  <h2 class="titulo">Ingreso a la lista de películas</h2>
    <div>
        <%= form.label :name, "Nombre" %> <br />
        <%= form.text_field :name, name:"post[name]" %> <br />
    </div>
    <div>
        <%= form.label :synopsis, "Synopsis" %> <br />
        <%= form.text_field :synopsis, name:"post[synopsis]" %> <br />
    </div>
    <div>
        <%= form.label :director, "Director" %> <br />
        <%= form.text_field :director, name:"post[director]" %> <br /> <br />
    <div>
        <%= form.submit %> <br /> <br />
    </div>

  
<% end %>
<section>
